{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-wheat p-4">
                    <h1 class="mb-4 text-center">Create an Account</h1>

                    {{ form_errors(registrationForm) }}

                    <fieldset style="background-color: wheat; padding: 15px; border-radius: 10px;" class="mb-3">
                        {{ form_start(registrationForm, {'attr': {'class': 'mb-3'}}) }}

                        <fieldset class="mb-2">
                            <legend class="mb-2">My identity</legend>
                            <div class="mb-2">
                                {{ form_row(registrationForm.Firstname, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            </div>
                            <div class="mb-2">
                                {{ form_row(registrationForm.Lastname, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            </div>
                            <div class="mb-2">
                                {{ form_row(registrationForm.email, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            </div>
                        </fieldset>

                        <fieldset class="mb-2">
                            <legend class="mb-2">My coordinates</legend>
                            <div class="mb-2">
                                {{ form_row(registrationForm.Address, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            </div>
                            <div class="mb-2">
                                {{ form_row(registrationForm.Tel, {'attr': {'class': 'form-control form-control-sm'}}) }}
                            </div>
                        </fieldset>

                        <div class="mb-2">
                            {{ form_row(registrationForm.Image, {'label': 'Upload Profile Picture', 'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>



                        <div class="mb-2">
                            {{ form_row(registrationForm.plainPassword, {'label': 'Password', 'attr': {'class': 'form-control form-control-sm'}}) }}
                        </div>

                        <div class="mb-2 form-check">
                            {{ form_row(registrationForm.agreeTerms, {'label': 'I agree to the terms', 'attr': {'class': 'form-check-input'}}) }}
                            {{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'form-check-label'}}) }}
                        </div>

                        <button type="submit" class="btn btn-primary btn-sm">Register</button>
                        {{ form_end(registrationForm) }}
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
