{# templates/admin/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">User Management</h1>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Profile Picture</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Telephone</th>
                <!-- Add more columns as needed -->
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>
<<<<<<< HEAD
                        {% if user.Image %}
                            <img src="{{ asset('/assets/image/' ~ user.Image) }}"
                                 alt="Profile Picture"
                                 style="max-width: 50px; max-height: 50px;">
                        {% else %}
                            <img src="{{ asset('/assets/image/among.png') }}"
                                 alt="Profile Picture"
                                 style="max-width: 50px; max-height: 50px;">
=======
                        {% if user.profilePicture %}
                            <img src="{{ asset('/assets/image' ~ user.Image) }}"
                                 alt="Profile Picture"
                                 style="max-width: 50px; max-height: 50px;">
                        {% else %}
                            No Picture
>>>>>>> 898a7f4140b3ff431eab9ad6a96c5767ab2d0a16
                        {% endif %}
                    </td>
                    <td>{{ user.Firstname }}</td>
                    <td>{{ user.Lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.Tel }}</td>
                    <!-- Add more columns as needed -->
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
