{% extends 'base.html.twig' %}

{% block title %}SubCategoriesController!{% endblock %}

{% block body %}
<html>
<head>
    <title>Tableau de Subcatégories</title>
    <style>
        table {
            margin: 20px auto; 
            border-collapse: collapse;
            width: 50%;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>

    <h1 style="text-al: center;">WELCOME TO OUR SubCATEGORIES</h1>
 <table>
        <tr>
            <th>Name</th>
            <th>Image</th>
        </tr>
        {% for subcategorie in SubCategories %}
            <tr>
                <td>{{ subcategorie.name }}</td>
                <td>
                    <img src="{{ asset('assets/categorieimg/' ~ subcategorie.image) }}" alt="{{ subcategorie.name }}" 
                    style="max-width: 100px; max-height: 100px;">
                </td>
            </tr>
        {% endfor %}
    </table>



</body>
</html>
{% endblock %}