{% extends 'base.html.twig' %}

{% block title %}CategoriesController!{% endblock %}

{% block body %}
<html>
<head>
    <title>Tableau de catégories</title>
    <style>
        table {
            margin: 20px auto; 
            border-collapse: collapse;
            width: 50%;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>

    <h1 style="text-align: center;">WELCOME TO OUR CATEGORIES</h1>
 <table>
        <tr>
            <th>Name</th>
            <th>Image</th>
        </tr>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('app_sub_cat_child', {'id': category.id }) }}">{{ category.name }}</a></td>

                <td>
                    <img src="{{ asset('assets/categorieimg/' ~ category.image) }}" alt="{{ category.name }}" style="max-width: 100px; max-height: 100px;">
                </td>
            </tr>
        {% endfor %}
    </table>



</body>
</html>
{% endblock %}