{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section class="container my-3">
<div class="row">
<div class="col">   
    

    {{ form_errors(registrationForm) }}
     {{ form_start(registrationForm) }}
    <fieldest>
    <legend>New category</legend>
     {{ form_row(registrationForm.name) }}
     {{ form_row(registrationForm.image) }}
    
    </fieldest>
    
        <a href ="{{path ('app_register')}}" class="btn btn-secondary">Ajouter</a>
    {{ form_end(registrationForm) }}
</div>
</div>
</section>
{% endblock %}