{% extends 'base.html.twig' %}

{% block title %} Product{% endblock %}

{% block body %}
<div>
        
<form class="d-flex" role="search">
<input (keyup)=search(products) class="form-control" type="search" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-success"  type="submit">Search</button></from>
</div>

<table class="table" style="border:1px solid ">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Name</th>
      <th scope="col">description</th>
      <th scope="col">price </th>
       <th scope="col">Stock </th>
        <th scope="col">Action </th>

    </tr>
  </thead>
  <tbody >
  {% for product in results %}
    <tr >
      <th scope="row"><img style="width:50px" src="{{ asset('assets/uploads/') ~ product.image }}"  alt="{{ product.name }}"</th>
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <td>{{product.stock}}</td>
      <td><a  href="{{ path('edit', {'name': product.name}) }}"><img heigh="30px" width="30px" src="{{ asset('assets/uploads/edit.svg')}}"  alt="..."></a><a  href="curl -X DELETE http://127.0.0.1:8000/suppression/Sony%20WH-1000XM4"><img style="width:30px" src="{{ asset('assets/uploads/delete.svg')}}"  alt="..."></a></td>
      
      
    </tr>
    {% endfor %} 
    
  </tbody>
</table>
<a class='btn btn-primary' href="{{ path('add')}}">Add Product</a>
{% endblock %}