{% extends 'base.html.twig' %}

{% block title %} Product{% endblock %}

{% block body %}



<main class="container">
        <section class="row">
            <div class="col-12">
              
            </div>
            <div class="col-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                   
                    <div class="carousel-inner">
                        
                            <div >
                                <img width="100px" heigh="100px" src="{{ asset('assets/uploads/') ~ product.image }}" class="d-block w-100" alt="{{ product.name }}" >
                            </div>
                       
                    </div>
                 
                </div>
            </div>
            <div class="col-6">
              <h1>{{ product.name }}</h1>
                <p>{{ product.description }}</p>
                
                <p>Prix : {{ product.price / 100 }} €</p>
                 {% if product.stock > 0 %}
                    <a href="" class="btn btn-success">Ajouter au panier</a>
                {% else %}
                    <p class="text-danger">Temporairement en rupture de stock</p>
                {% endif %}
                
            </div>
        </section>
    </main>



{% endblock %}
