{% extends 'base.html.twig' %}

{% block title %} Product{% endblock %}

{% block body %}
<h1>Product Search</h1>

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-group">
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
{{ form_end(form) }}


<main class="container">
    <section class="row">
        <div class="col-12">
            <h1>liste des produits</h1>
        </div>
         {% if results is not empty %}
        
        {% for product in results %}
            <div class="card" style="width: 18rem;margin-right:20px;">
                
                <div class="card-body">
                <img src="{{ asset('assets/uploads/') ~ product.image }}" class="card-img-top" alt="...">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">${{ product.price }} </p>
                    <p class="card-text">{{ product.stock }}</p>
                    <a class='btn btn-primary' href="{{ path('list', {'name': product.name}) }}">Buy Now</a>
                    
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </section>
     
</main>





{% endblock %}
