

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create a new entry</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}