{% extends "base.html.twig" %}

{% block title %}Administration des produits{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Ajouter un produit</h1>
                {{ form_start(productForm) }}
    {{ form_row(productForm.name) }}
    {{ form_row(productForm.description) }}
    
    {{ form_row(productForm.stock) }}
    {{ form_row(productForm.price) }}
    {{ form_row(productForm.image) }}
     <button type="submit" class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>

{{ form_end(productForm) }}
    

   

            </div>
        </section>
    </main>
{% endblock %}