<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome Azer!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <!--Style files -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    {% endblock %}
    <!--  js files-->
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
    {% block javascripts %}
        <script src="{{ asset('assets/js/script.js') }}" defer></script>
        {% block importmap %}{% endblock %}


    {% endblock %}
</head>
<body>
{% if app.user %}
    <div>
<<<<<<< HEAD
        <img src="{{ asset('/assets/images/' ~ app.user.Image) }}" alt="Profile Picture">
=======
        <img src="{{ asset('images/' ~ app.user.profilePicture) }}" alt="Profile Picture">
>>>>>>> 898a7f4140b3ff431eab9ad6a96c5767ab2d0a16
        Hello {{ app.user.Firstname }}!
    </div>
{% else %}
    <div>
        Welcome Guest!
    </div>
{% endif %}


{% block body %}{% endblock %}



</body>
</html>
